@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:wght@400;700&family=League+Spartan:wght@300;400;500;600&family=Open+Sans&family=PT+Sans&family=Poppins:wght@300;600;700&family=Roboto+Serif:opsz,wght@8..144,200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--violet: #804eec;
}

.logo {
	width: 250px;
	margin: 20px 0 20px 40px;
}

.welcome {
	width: 100%;
	height: 130px;
	color: #fff;
	background-color: var(--violet);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.welcome-text {
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	margin: 0 25px;
}

.frontend-class-text {
	margin: 50px 60px 10px 60px;
	font-size: 28px;
}

.frontend-class-p {
	margin: 10px 60px 20px 60px;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: black;
}

.class-cards {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	width: 360px;
	height: 300px;
	border: 1px dashed var(--violet);
	border-radius: 10px;

	margin: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.card:hover {
	transition: 0.3s;
	transform: scale(1.1);
}

.image-card {
	width: 340px;
	height: 210px;
	object-fit: cover;
	border-radius: 10px;
}

.class {
	font-weight: 600;
}

.class,
.class-description {
	margin-top: 10px;
}

footer {
	margin-top: 200px;
}

.ctd {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ctd-logo {
	width: 300px;
	margin-bottom: 20px;
}

.footer-line {
	height: 15px;
	background-color: var(--violet);
}

.page-created > p {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
